[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Gedeon Sainrival
	email = hello@gedeondoescode.com
	signingKey = 857C936B0D6039492C7241B4677312C391A5A5C1
[commit]
	gpgsign = true
[credential]
	helper = store
[push]
	autoSetupRemote = true
[tag]
	gpgSign = true
